html {
  scroll-behavior: smooth;
}
/* Typeface */
h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}
h2 {
  font-size: 3rem;
  text-align: center;
  align-self: center;
}
p {
  font-size: 1.8rem;
}
p , li {
  font-family: 'Poppins', sans-serif;
}
/* Navigation */
nav {
  background-color: rgb(255, 0, 0);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}
nav h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 150%;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li a {
  margin-right: 1em;
  color: black;
  text-decoration: none;
}
.order {
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: 0.7rem;
}
/* Hero */
#hero {
  text-align: center;
  background-color: rgba(255, 255, 0, 0.849);
  padding: 2em;
  font-size: 3rem;
  background-image: url(./imgs/HSBG.png);
  
}
#hero > h2, #hero > p {
  background-color: red;
  margin: auto;
}
#hero>h2 {
  width: 750px;
}
#hero>p {
  width: 800px;
  font-size: 2.5rem;
  color: white;
}
/* Menu */
#menu {
  background: red;
  padding:2em;
}
#menu h3 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
#menu p {
  font-size: 1.5rem;
  color:white;
}
#menu small {
  font-size:1rem;
  color:yellow;
}
.menu-item {
  margin: 1.5em 0;
}
.menu-footer {
  text-align: center;
}
/* About */
#about {
  text-align: center;
  background-color: rgb(242, 255, 0);
  padding: 3em;
  display: grid;
  grid-template: 
                "a a c c"
                "b b c c"
}
#about h2 {
  color: red;
  text-align: center;
  align-self: center;
  grid-area: a;
}
#about p {
  grid-area: b;
  width: 85%;
  font-size: 1.8rem;
  margin: auto;
}
#about img {
  grid-area: c;
  height: 300px;
  border: 2px solid black;
  border-radius: 25px;
}
/* Locations */
#locations {
  text-align: center;
  background-color: rgb(101, 99, 99);
  color: rgba(252, 252, 252, 0.981);
  padding: 3em;
  display: grid;
  grid-template: 
                "b b a a"
                "b b c c"
}
#locations h2 {
  color: yellow;
  grid-area: a;
}
#locations img {
  grid-area: b;
  width: 80%;
}
#locations p {
  grid-area: c;
  width: 80%;
  margin: auto;
}
/* Contact */
#contact {
  background-color: rgb(255, 0, 0);
  text-align:center;
  color: white;
  padding: 3em;
}
#contact h2 {
  color: yellow;
}
/* Credit */
#credit {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
#credit p {font-size: 0.5rem;}
